{% extends 'home/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"> 
    <title>Document</title>
</head>
<body>
    {% block body %}
    <header>
        CRIME MINING
        <div class="nav">
            <a class="btn nav-link" href="{% url 'home:base' %}">About</a>
            <a class="btn nav-link" href="{% url 'home:docs' %}">Documents</a>
            <a class="btn nav-link" href="{% url 'home:data' %}">Data</a>
            <a class="btn btn-current nav-link">Findings</a>
        </div>
    </header>
    <div class="bodytext">
        <h1> Additional findings using machine learning </h1>
        <p></p>
        <h2> Crime has generally been going down since the 1990s </h2>
        <p> 
            By using linear and polynomial regression, we can establish a line of
            best fit for the rate of total violent and property victimizations.
        </p>
        <figure>
            <img src="{% static 'lr1.png' %}" alt="LR1" class="lr">
            <figcaption>Linear regression line for all crime types</figcaption>
        </figure>
        <p></p>
        <p>
            By changing the degree of the polynomial from 1 to 2, we can see a 
            curved line that better fits the data. This shows that the overall crime
            rate dropped more precipitously in the 1990s than it has in the 21st century.
        </p>
        <figure>
            <img src="{% static 'lr2.png' %}" alt="LR2" class="lr">
            <figcaption>Polynomial regression line with degree of 2 for all crime types</figcaption>
        </figure>
        <p></p> 
        <p>
            Increasing the polynomial degree also allows us to detect outliers in the data.
            As illustrated, 2006 and 2012 are both outlier years.
        </p>
        <p></p>

        <h2> Being the victim of one crime is a strong predictor of being the
             victim of another crime </h2>
        <p>
            By using association rule mining, we can establish the likelihood that,
            given an individual is the victim of one crime, they will be the victim
            of a different crime.
        </p>
        <p></p>
        <p>
            To do this, we calculated the support (the frequency with which a crime 
            or characteristic appears in the dataset), the confidence (the strength 
            of association between the X and Y variables), and the lift (the strength 
            of association between X and Y, taking into account their relative frequency 
            of occurrence). A lift value greater than 1 indicates a strong association, 
            meaning that if an individual is the victim of X, they are more likely to be 
            a victim of Y. 
        </p>
        <figure>
            <img src="{% static 'theft_violent_attack.png' %}" alt="AM1" class="am">
            <figcaption class="findings-caption">An individual is much more likely to be the victim of an attack 
                given they are a victim of theft</figcaption>
        </figure>
        <p></p>
        <figure>
            <img src="{% static 'unwanted_sex_violent_attack.png' %}" alt="AM2" class="am">
            <figcaption class="findings-caption">Individuals who report being forced or coerced into sex are over
                16 times as likely to also report being the victim of a violent attack</figcaption>
        </figure>
        <p></p>
        <p>
            When selecting for personal characteristics rather than crimes, 
            the lift values get lower. 
        </p>
        <p></p>
        <figure>
            <img src="{% static 'male_violent_victimization.png' %}" alt="AM3" class="am">
            <figcaption class="findings-caption">An individual is slightly more likely to be the victim of 
                an attack if they are male...</figcaption>
        </figure>
        <p></p>
        <figure>
            <img src="{% static 'female_violent_victimization.png' %}" alt="AM4" class="am">
            <figcaption class="findings-caption">...and slightly less likely to be the victim of 
                an attack if they are female</figcaption>
        </figure>
        <p></p>
        <figure>
            <img src="{% static 'urban_property_crime.png' %}" alt="AM5" class="am">
            <figcaption class="findings-caption">Individuals living in urban areas are slightly more likely
                to be victims of a property crime...</figcaption>
        </figure>
        <p></p>
        <figure>
            <img src="{% static 'rural_property_crime.png' %}" alt="AM6" class="am">
            <figcaption class="findings-caption">...whereas rural Americans are significantly less likely to
                be victimized by property crime </figcaption>
        </figure>
        <p></p>
        <p>
            As shown in these results, being the victim of one crime is a better predictor 
            of whether an individual will be the victim of another crime more than any 
            given personal characteristic.
        </p>

    </div>
    {% endblock %}
</body>
</html>